html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 0px;
  margin-bottom: 60px;
}
#total {
	background-color: silver;
}
#game {
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
#table {
	font-family: lato;
	color: blue;
	background-color: green;
}
#level {
	height: 100px;
}