
body {
	font-family: 'Lato', sans-serif;
}
#username {
	font-size: 20px;
	position: absolute;
	width: 220px;
	color: #ffffff;
	left: 190px;
	bottom: 480px;
}

#password {
	font-size: 20px;
	position: absolute;
	color: #ffffff;
	left: 190px;
	bottom: 440px;
}

h1 {
	position: absolute;
	color: #ffffff;
	width: 300px;
	height: 100px;
	font-size: 70px;
	text-align: center;
	left: 150px;
	bottom: 475px;
}

#login {
	width: 600px;
	height: 600px;
	background-color: #f25252;
	border-style: solid;
	border-width: 10px;
	border-color: #f2c12e;
}

#signIn {
    font: bold 24px Arial,sans-serif;
    position: absolute;
    width: 120px;
    height: 40px;
    left: 240px;
    bottom: 360px;
}

.myButton {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0.0em 0em 0.0em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  border: 1px solid;
  /*border-color: #bbbbbb #a2a2a2 #888888;*/
  background-color: #14a697;
}
.myButton:hover {
  
}
.myButton:active {
  padding: 0.0em 0em 0.0em;
  margin-top: 0.0em;
  /*border-color: #a2a2a2 #bbbbbb #eee;*/
  background-color: #049687;

}