{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title> Weigh In </title>
    
    <!-- Metas -->
    <meta type="author" content="Weigh In"/>
    <meta type="description" content="Gamifying crowdsourcing"/>
    <meta name="viewport" content="initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-eqiv="content-type" content="text/html" charset="utf-8"/>
    
    <!-- Links -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300"/>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto+Slab:300'/>    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" type="text/css" href="{% static "frontsite/login.css" %}">
    <link rel="stylesheet" href="{% static "frontsite/animate.css" %}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type='text/javascript' src="{% static "frontsite/index.js" %}">
    <!-- <script src = "{% static "frontsite/events.js" %}"></script> -->
    <!-- Google Analytics -->
        <script>
        $(document).ready(function(){
            $('body .stuff').css({'height':($(window).height()-120)+'px'});
            $("#login_button").click(function(){
            $.getJSON("http://dev.weighin.me/api/1/login/?username=" + $('#username').val() + "&password=" + $('#pwd').val(),function(result)
            {
            if(result['success'] == "True")
                {
                  window.location.replace("http://dev.weighin.me/games");
                }
            else
                {
                    alert("Account not found. Try logging in again");
                }

         });
      });
    });
    </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-57180498-1', 'auto');
            ga('send', 'pageview');
        </script>
</head>

<body>
    <!-- nav tabs w/o bootstrap -->
<div class="navigation">
    <img class="logo" src="{% static "frontsite/Logo.png" %}" alt=""/>
    <ul class="navbar">
        <li> <a href="/"> <i class="fa fa-home"></i></a></li>
        <li> <a href=""> <i class="fa fa-user active"></i></a></li>
        <li> <a href="/games"> <i class="fa fa-send-o"></i></a></li>
    </ul>
</div>
    <!-- nav tabs end -->

    <div class = "container-fluid animated fadeIn">
    <div class = "stuff">
       <div class = "row content">
           <div class = "col-md-1"></div>

           <div class="col-md-11">
               <p class="head"> My Account </p>
               <p class="subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur est incidunt maiores non quaerat quibusdam quos sequi temporibus voluptate.</p>
               <hr>
                   <div class="row form">
                    <div class="col-md-6 signup">
                        <form class="pure-form" action="">
                            <legend> Sign up </legend>
                            <br/>
                            <fieldset class="pure-group">
                                <input type="text" class="pure-input-1-2" placeholder="Username">
                                <input type="email" class="pure-input-1-2" placeholder="Email">
                                <input type="text" class="pure-input-1-2" placeholder="Password">
                                <input type="text" class="pure-input-1-2" placeholder="Confirm Password">

                            </fieldset>

                            <fieldset class="pure-group" action="">
                                <input type="text" class="pure-input-1-2" placeholder="City">
                                <input type="text" class="pure-input-1-2" placeholder="State">
                                <input type="text" class="pure-input-1-2" placeholder="Country">
                            </fieldset>
                            <br>
                            <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Sign up</button>
                        </form>
                    </div>

                    <div class="col-md-6 login">
                        <form class="pure-form" action="">
                            <legend> Already a member?  Sign in </legend>
                            <br/>
                            <fieldset class="pure-group">
                                <input type="text" id="username" name="username"class="pure-input-1-2" placeholder="Username or Email">
                                <input type="password" id="pwd" name="password" class="pure-input-1-2" placeholder="Password">
                            </fieldset>
                            <br>
                            <br>

                            <br>
                        </form>
                        <button type="submit" id="login_button" class="pure-button pure-input-1-2 pure-button-primary">Sign in</button>
                    </div>


                    </div>
                        <!--end of row form-->
                </div>
                    <!--end of col  -->
           </div>
           <!--end of row content-->
        </div>
</div>
<!--end of container-->
</body>
</html>
